"*.ppt" 
"*.pptx" 
"*.mp4" 
"__pycache__/" 
"*.pyc" 
".ipynb_checkpoints/" 
".vscode/" 
images/ 
dataset/ 
.vscode/ 
frontend/.vscode/ 
flaskapi/uploads/ 
*.mp4 
*.ppt 
*.pptx 
*.pkl 
.dart_tool/ 
.idea/ 
.vscode/ 
build/ 
.flutter-plugins 
.flutter-plugins-dependencies 
*.iml 
dataset/ 
images/ 
flaskapi/uploads/ 
.vscode/ 
frontend/.vscode/ 
.idea/ 
build/ 
*.iml 
*.mp4 
*.ppt 
*.pptx 
*.pkl 
*.jar 
*.gradle 
*.iml 
